<!DOCTYPE HTML>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Публічна замітка</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/notes.css}">

</head>
<body>
<div class="container">
    <div class="col-sm-12 mt-5" style="text-align:center; margin-top: 50px;" >
        <span th:if="${message != null}">
            <div th:text="${message}"></div>
        </span>
        <span th:if="${note != null}">
            <h1 th:text="${note.name}">Ім'я</h1>
            <pre class="text" th:utext="${note.html}"></pre>
        </span>
    </div>
</div>
</body>
</html>